<!DOCTYPE html>
<head><!--    Best viewed on Google Chrome. Firefox messes with the margins. -->
    <title>Jeopardy Game</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        body{
            font-family: Helvetica Neue;
            background: #4d4d4d;
            overflow:hidden;
            text-align: center;
            color:#e6e600;
        }
        a {
          color: #e6e600;
        }
        .panel{
            background: #0066ff;
            border: #4b50ff;
            padding-top: 20pt;
            width: 95%;
            height: 480pt;
            margin: auto;
        }
         {

        }
        #Ss {
            width: 97%;
            margin: auto;
            padding-left: 20pt;
        }
        .well,
         table, th, td {
            background: #0066ff;
            border: 3px black;
            margin: auto;
        }
        th, td {
            text-align: center;
            width: 350pt;
        }
        td {
            height: 50pt;
        }
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */

            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }
        .modal-content {
            top: 100pt;
            background: #0066ff;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 33%;
        }
        #wwe {

            background-color: black;
            color: whitesmoke;
        }
    </style>
</head>

<html >
<body >
<br>
<br>
<div class="panel panel-default">
    <div  id="title">
        <h2 >Historical Jeopardy- <%- AirDate %></h2>
    </div>
    <br>
    <div id="Ss" class=" row align-items-center col-md-10">
        <table class="table-responsive">
          <tr>
            <%
              for (var i = 0; i < Categories.length; i++) {%>
                <th class="well"><%- Categories[i]%></th>
              <%}
            %>
          </tr>
          <%
          for (var i=0; i < Entries[0].length; i++) { %>
            <tr>
            <% for (var j=0; j < Entries.length; j++) { %>
              <td class="well" onclick="cell(this)"><%-Entries[j][i].DollarValue%></td>
            <% } %>
            </tr>
          <% } %>
        </table>
    </div>

    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <p id="wa"></p>
            <button id="wwe" >Reveal Answer?</button>
        </div>

    </div>
    <!--  <div class="panel-body">A Basic Panel</div>-->
</div>

<script>
  function cell(element) {
    //alert(element.cellIndex + "," + element.parentNode.rowIndex);
      document.getElementById("wwe").removeAttribute("hidden");
    var entries = <%-JSON.stringify(Entries)%>;
    //alert('' + element.cellIndex + ',' + element.parentNode.rowIndex-1);
    var entry = entries[element.cellIndex][element.parentNode.rowIndex-1];
    entry.QuestionText = decodeURIComponent(entry.QuestionText);
    document.getElementById("wa").innerHTML = entry.QuestionText;

      // Get the modal
      var modal = document.getElementById('myModal');
      var btn = document.getElementById("wwe");
// Get the <span> element that closes the modal
      var span = document.getElementsByClassName("close")[0];

    //alert(entry.QuestionText);
      // When the user clicks on the button, open the modal

      modal.style.display = "block";

// When the user clicks on the button, open the modal
      btn.onclick = function() {
          document.getElementById("wa").innerHTML = entry.AnswerText;
          document.getElementById("wwe").setAttribute("hidden", true);
      }


// When the user clicks on <span> (x), close the modal
      span.onclick = function() {
          modal.style.display = "none";
      }


      element.innerHTML = "";
      //element.removeAttribute("onclick");
  }
</script>



</body>
</html>
